html, body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

#menu-buttons {
  position: fixed;
  top: 0;
  right: 0;
}

#bookmarks-toggle {
  font-family: 'Sans', sans;
  font-weight: 400;
  font-size: 38px;
  color: #e5e5e5;
  transition: color 0.3s;
  cursor: pointer;
  margin: 3px 7px;
  padding: 0 5px;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  z-index: 2;
  display: block;
}

#bookmarks-toggle:hover {
  color: #d0d0d0;
  transition: color 0.3s;
}

#bookmarks-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  width: 320px;
  opacity: 0;
  background-color: #f0f0f0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, right 0.5s;
  padding: 20px 0 10px 0;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  overflow-y: auto;
  z-index: 2;
}

#links-list a {
  color: #909090;
  text-decoration: none;
  margin: 0 0 0 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#links-list a:hover {
  text-decoration: underline;
}

#searchengine-panel {
  position: absolute;
  top: 55px;
  right: 50px;
  width: 320px;
  height: 300px;
  opacity: 0;
  background-color: #f0f0f0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, right 0.5s;
  z-index: 2;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
}

.searchengine-bg {
  width: 100%;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.searchengine-bg:hover {
  background-color: #fcfcfc;
  transition: background-color 0.1s;
}

.searchengine-bg:hover #google-se {
  color: #7bbbe3;
  transition: color 0.1s;
}

.searchengine-bg:hover #duckduckgo-se {
  color: #e3af7b;
  transition: color 0.1s;
}

.searchengine-bg:hover #proxy-se {
  color: #e37b7b;
  transition: color 0.1s;
}

.searchengine-title {
  position: absolute;
  padding: 0;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  text-align: center;
  width: 100%;
  color: #bababa;
  transition: color 0.1s;
}

#google-se {
  font-family: 'Lobster', cursive;
  font-weight: 300;
  font-size: 40px;
  margin: 22px 0 0 0;
}

#duckduckgo-se {
  font-family: 'Courgette', cursive;
  font-weight: 300;
  font-size: 34px;
  margin: 29px 0 0 0;
}

#proxy-se {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 28px 0 0 0;
}

#flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

#searchengine-title {
  position: absolute;
  margin: -50px 0 0 55px;
  color: #7bbbe3;
  font-size: 76px;
  font-weight: 300;
  font-family: 'Lobster', cursive;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  cursor: default;
}

#proxy-mark {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #e37b7b;
  border-radius: 13px;
  margin: -39px 0 0 244px;
  cursor: default;
  visibility: hidden;
}


#current-server-region {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #e37b7b;
  position: relative;
  margin: 0 0 0 -23px;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#current-server-number {
  font-family: 'Play', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #f8f8f8;
  position: relative;
  margin: 0 0 0 10px;
}

#search-line {
  margin-top: 200px;
  height: 30px;
  width: 300px;
  color: #acacac;
  background-color: #f8f8f8;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #f8f8f8;
  transition: color 0.8s, border 0.5s;
}

#search-line:focus {
  color: #9f9f9f;
  border-bottom: 1px solid #d8d8d8;
  transition: color 0.8s, border 0.5s;
}

#server-list {
  width: 340px;
  position: absolute;
  margin: 160px 0 0 -320px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

#server-list ul {
  margin: 10px 0;
  padding: 0;
  cursor: default;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#server-list ul li {
  display: inline;
  font-family: 'Lato', sans-serif;
  color: #e37b7b;
  background-color: #f8f8f8;
  padding: 1px 4px 2px 4px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}